# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ingore IDE specific content (Eclipse and IntelliJ)
.idea
.settings
bin
.classpath
.gitattributes
.project
